$green: green;

.btn {
  outline: none;
  border: 1px solid var(--theme-1-100);
  background-color: $green;
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 1%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.btn-large {
}
