$green: green;

.primary {
  outline: none;
  border: 0.2rem solid var(--theme-1-100);
  background-color: $green;
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 1%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.secondary {
  outline: none;
  border: 0.1rem solid $green;
  background-color: transparent;
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 1%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green;
}
