$white: white;
$green: green;
$primary_color: rgb(24, 135, 24);

.primary {
  outline: none;
  border: 0.2rem solid var(--theme-1-100);
  background-color: var(--base-color);
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 1%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}
.secondary {
  outline: none;
  border: 0.1rem solid var(--base-color);
  background-color: transparent;
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  padding: 1%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-color);
}
// .submit {
//   margin-left: 70vw;
//   background-color: $primary_color;
//   font-weight: bold;
//   padding: 10px;
//   border-radius: 0.875rem;
//   cursor: pointer;
//   color: white;
//   margin-bottom: 2px;
// }
