$white: white;
$base_color: #2da4f9;
$secondary_color: #7193bc;

.form_info {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  grid-column-gap: 10px;
}

.newFeedback {
  color: $base_color;
  font-weight: bold;
  font-size: 1.875rem;
}

.feedbackType {
  padding: 1.2%;
  width: 27vw;
  height: 40px;
  border: 0.1rem solid rgba(128, 128, 128, 0.843);
  outline: none;
  border-radius: 25rem;
}
.label {
  margin-left: 0.625rem;
}

.textarea {
  width: 973px;
  border-radius: 0.5rem;
  margin-top: 1.875rem;
}

.form {
  margin-left: 10px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
}
.fieldset {
  padding-left: 40px;
  padding-right: 80px;
  margin-bottom: 20px;
  border-radius: 2rem;
  box-shadow: 2.5px 2.5px 5px rgba(128, 128, 128, 0.4);
}
