$primary_color: rgb(24, 135, 24);
.submit {
  margin-left: 70vw;
  background-color: $primary_color;
  font-weight: bold;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  color: white;
  margin-bottom: 2px;
}
.form_info {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 30vw 30vw;
  grid-row-gap: 10px;
  grid-column-gap: 60px;
}
.input {
  width: 40vw;
  margin-top: 30px;
  border-radius: 8px;
}

.newFeedback {
  color: $primary_color;
  font-weight: bold;
}
