$primary_color: rgb(24, 135, 24);
$secondary_color: rgb(165, 220, 165);

h1 {
  color: $primary_color;
  margin-bottom: 1.25rem;
}

img {
  width: 1.25rem;
  height: 1.25rem;
}
.thead {
  background-color: $secondary_color;
  color: $primary_color;
  font-weight: bold;
}
.grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto;
  border: 1px solid blue;
  margin-bottom: 1.25rem;
  width: 70vw;
}
