$grey: grey;

.tableSection {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 45px;
  width: 70%;
  margin: 65px auto;
  align-items: center;
  font-weight: 500;
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
  border-bottom: 2px solid $grey;
}

.tableSection > * {
  display: flex;
  align-items: center;
  border-right: 2px solid $grey;
  padding: 15px;
}

.tableSection1 {
  height: 45px;
  width: 320px;
}
.tableSection2 {
  height: 45px;
  width: 320px;
}
.tableSection3 {
  height: 45px;
  width: 500px;
}
.tableSection4 {
  height: 45px;
  width: 500px;
  border-right: none;
  justify-content: center;
}
