.container {
  padding: 1.5rem;
  position: relative;
}
.iconC {
  position: absolute;
  display: flex;
  gap: 0.3rem;
  top: 35%;
  right: 12%;
  cursor: pointer;
}
.input > input {
  padding: 4%;
}
