.container {
  padding: 3vw;
  color: var(--base-color);
  h2 {
    padding-bottom: 3vw;
  }
  @media screen and (width < 940px) {
    h2 {
      color: var(--grey-blue-2);
      text-align: center;
      padding: 0.5vw;
    }
    table {
      display: none;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      padding: 2vw 3vw;
      background-color: var(--light-blue);
    }
    .radius1 {
      border-radius: 20px 0 0 0;
    }
    .radius2 {
      border-radius: 0 20px 0 0;
    }
  }
}
