.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-inline: 2%;
  border-radius: 2rem;
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text {
  margin: 2%;
}
.img {
  cursor: pointer;
  margin: 1%;
}
.date {
  color: green;
  margin: 1%;
}
