.card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2%;
  margin-inline: 2%;
  border-radius: 2rem;
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text {
  margin: 2%;
  flex-grow: 1;
}
.img {
  cursor: pointer;
  width: 30px;
  margin: 1%;
  justify-self: flex-start;
}
.date {
  color: var(--base-color);
  margin: 1%;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.container2 {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-end;
  gap: 3rem;
}
@media only screen and (max-width: 500px) {
  .date {
    font-size: 0.8rem;
  }
  .text {
    font-size: 1rem;
  }
  .img {
  }
  .card {
    flex-direction: column;
    border-radius: 1rem;
  }
}
