.card {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 95vw;
  margin: 2%;
  height: 5rem;
  border-radius: 2rem;
  background-color: rgb(251, 251, 251);
}
.Button {
  margin-left: auto;
}

.text {
  margin: 2%;
}

.img {
  margin: 1%;
}

.date {
  color: green;
  margin: 1%;
}
