$dark-grey: #333;
$light-grey: #dedfde;

.tableSection {
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  width: 70%;
  margin: 2.8rem auto;
  padding: 1.1rem;
  align-items: center;
  font-weight: 500;
  box-shadow: -0.3rem 0 0.3rem -0.3rem $dark-grey, 0.3rem 0 0.3rem -0.3rem $dark-grey;
}

.tableSection1 {
  width: 20rem;
}
.tableSection2 {
  width: 20rem;
}
.tableSection3 {
  width: 30rem;
}
.tableSection4 {
  width: 30rem;
  display: flex;
  justify-content: center;
  border-right: none;
}
.breakLine {
  width: 70%;
  margin: auto;
  border-bottom: 0.15rem solid $light-grey;
}

.text {
  padding: 0.5rem;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  height: 3.3rem;
  width: 70%;
  margin: 4rem auto;
  align-items: center;
  font-weight: 500;
  border-bottom: 0.1rem solid $light-grey;
  box-shadow: -0.3rem 0 0.3rem -0.3rem $dark-grey, 0.3rem 0 0.3rem -0.3rem $dark-grey;
}

.tableHeader > * {
  display: flex;
  align-items: center;
  border-right: 0.1rem solid $light-grey;
  padding: 0.9rem;
  height: 3.25rem;
}
