.container {
  margin-inline: 5%;
  margin-top: 2rem;
  padding: 0.2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
}
.searchBarC {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}
.heading {
  font-family: var(--gdsc-font-2);
  color: var(--base-color);
  letter-spacing: 0.07em;
  display: flex;
  justify-content: flex-start;
  margin: 4rem 4rem;
  font-size: 1.8rem;
  font-weight: 900;
}
.dropdown {
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0 0 8rem;
  &:hover,
  :focus {
    border: none;
  }
  select {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.07em;
    font-family: var(--base-color);
    color: #2da3fa;
    border: none;
    outline: none;
  }
  option {
    background-color: var(--drop-background);
    margin: 2rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    margin-inline: 1%;
  }
  .heading {
    justify-content: center;
  }
  .dropdown {
    margin: 3rem 0 0 1rem;
  }
  .searchBarC {
    margin-right: 0;
  }
}
